<h1>Login</h1>

<%= form_for :login, :url => create_session_path do |form| %>
  <ul>
    <li>
      <%= form.label :username %>:
      <%= form.text_field :username %>
    </li>
    <li>
      <%= form.label :password %>:
      <%= form.password_field :password %>
    </li>
  </ul>
  <%= form.submit "Login" %>
<% end %>