<div class="container container-1">
  <div class="row-fluid">
    <span class="span4">
      <h2 class="heading">From</h2>
      <img src="/images/ec0e1767783987fb/source.jpg" class="pull-center image">
      <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
    </span>
    <span class="span4">
      <p>After&nbsp;logging&nbsp;into both services we show you a preview of the data being copied over.</p>
      <h2 class="heading">
        <a href="/start">Start</a>
        <!-- <%= link_to "Artists", artists_path %> -->
      </h2>
    </span>
    <span class="span4">
      <h2 class="heading">To</h2>
      <img src="/images/af23645c515b28b5/source.jpeg" class="image">
      <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
    </span>
  </div>
</div>