.navbar-fixed-top {
  height: 60px;
}
.navbar-fixed-top .navbar-inner {
  background: rgba(255, 255, 255, 0.960784);
  border: none;
  height: 60px;
  padding-left: 20px;
  padding-right: 10px;
}
.navbar-fixed-top .navbar-inner .image {
  border-radius: 0px;
  margin: 16px 0px 0px 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  height: 30px;
  width: 30px;
}
.navbar-fixed-top .navbar-inner .brand.cke_focus {
  margin: 0px 0px 0px -15px;
  text-shadow: none;
  font-family:"oswald";
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  line-height: 40px;
}
.navbar-fixed-top .navbar-inner .nav li a {
  line-height: 40px;
}
.container-fluid.container-fluid-1 {
  background: #f8f8f8;
  border-top: 1px solid #ededed;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ededed;
}
.container-fluid.container-fluid-2 {
  padding: 60px 20px 60px 20px;
}
.container-fluid.container-fluid-3 {
  background: #000000 url(source.jpg) no-repeat 0px 0px;
  background-size: cover;
}
.container-fluid-3 .container {
  margin-top: 30px;
  margin-bottom: 170px;
}
.container-fluid-3 .container .row-fluid .span12 .heading {
  font-size: 58px;
  line-height: 64px;
}
.container-fluid-3 .container .row-fluid .span12 p {
  font-size: 17px;
}
.container-fluid-3 .container .row-fluid .span12 .btn-primary {
  background: #ff6a32;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  margin: 15px 0px 0px 0px;
}
.container.container-1 {
  margin-top: 60px;
}
.container-1 .row-fluid .span4 .heading {
  font-weight: normal;
  font-size: 29px;
  text-align: center;
  color: #454545;
}
.container-1 .row-fluid .span4 p {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}
.container-fluid-1.container-fluid-2.container-fluid-4 {
  margin-top: 60px;
}
.container-fluid-1.container-fluid-2.container-fluid-4 .container .row-fluid .span7 .page-header {
  padding: 0px;
  border: none;
}
.container-fluid-1.container-fluid-2.container-fluid-4 .container .row-fluid .span7 .page-header h1 {
  font-weight: normal;
  font-size: 42px;
  color: #555555;
}
.container-fluid-1.container-fluid-2.container-fluid-4 .container .row-fluid .span7 .page-header h1 small {
  font-size: 42px;
  line-height: 42px;
}
.container-fluid-1.container-fluid-2.container-fluid-4 .container .row-fluid .span7 p {
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
}
.container-fluid-1.container-fluid-2.container-fluid-4 .container .row-fluid .span5 .image {
  border-radius: 3px;
  margin: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.container-fluid-2.container-fluid-5 {
  background: rgba(0, 0, 0, 0);
}
.container-fluid-2.container-fluid-5 .container .row-fluid .span5 .image {
  border-radius: 3px;
  margin: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.container-fluid-2.container-fluid-5 .container .row-fluid .span7 .page-header {
  padding: 0px;
  border: none;
}
.container-fluid-2.container-fluid-5 .container .row-fluid .span7 .page-header h1 {
  font-weight: normal;
  font-size: 42px;
  color: #555555;
}
.container-fluid-2.container-fluid-5 .container .row-fluid .span7 .page-header h1 small {
  font-size: 42px;
  line-height: 42px;
}
.container-fluid-2.container-fluid-5 .container .row-fluid .span7 p {
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
}
.container-fluid-1.container-fluid-2 .container .row-fluid .span7 .page-header {
  padding: 0px;
  border: none;
}
.container-fluid-1.container-fluid-2 .container .row-fluid .span7 .page-header h1 {
  font-weight: normal;
  font-size: 42px;
  color: #555555;
}
.container-fluid-1.container-fluid-2 .container .row-fluid .span7 .page-header h1 small {
  font-size: 42px;
  line-height: 42px;
}
.container-fluid-1.container-fluid-2 .container .row-fluid .span7 p {
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
}
.container-fluid-1.container-fluid-2 .container .row-fluid .span5 .image {
  border-radius: 3px;
  margin: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.container.container-2 {
  padding: 60px 0px 60px 0px;
}
.container-2 .row-fluid .span12 p {
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}
.container-fluid.container-fluid-6 {
  background: #333333;
  padding: 30px 20px 30px 20px;
}
.container-fluid-6 .container .row-fluid .span12 .pull-left p {
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
}
.container-fluid-6 .container .row-fluid .span12 .nav-pills {
  margin: 0px;
}
.container-fluid-6 .container .row-fluid .span12 .nav-pills li a {
  text-align: center;
  color: #cccccc;
}