<img src="/assets/bolt.png" class="pull-left image">
<a class="brand cke_focus" href="#">Music relocation services</a>
<ul class="nav pull-right">
  <li>
    <a href="#">Home</a>
    <!-- Logged in as <%= current_session.username %> - <%= link_to "logout", logout_path %> -->
  </li>
  <li>
    <a href="#">Tour</a>
  </li>
  <li>
    <a href="#">About</a>
  </li>
</ul>